<div class="jumbotron jumbotron-fluid mb-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left pb-5 pl-5">
                <h1 class="display-4"> <a class="text-yellow" href="">Pyboard</a></h1>
            </div>
            <div class="col-md-6 text-right pb-5 pr-5 text-white">
                <p class="lead">PyboardはPythonistのための掲示板です。</p>
                <p class="lead">Pythonについて語りましょう!</p>
            </div>
        </div>
    </div>
</div>